body {

}

body:not(.dark-theme), body.light-theme {
	background-color: get-colour('grey', '50');

	> header {
		background-color: get-colour('grey', '100');
	}
}

body.dark-theme {
	background-color: #303030;

	> header {
		background-color: get-colour('grey', '900');
	}
}